<div>
  <h2 id="page-heading" data-cy="CeremonyHeading">
    <span jhiTranslate="autismApp.ceremony.home.title">Ceremonies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="refreshPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autismApp.ceremony.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ceremony"
        (click)="goToNew()"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autismApp.ceremony.home.createLabel"> Create a new Ceremony </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ceremonies?.length === 0">
    <span jhiTranslate="autismApp.ceremony.home.notFound">No ceremonies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ceremonies && ceremonies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col">
            <div jhiSortBy="id">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="idFilter" class="filter-width" (keydown)="onEnterPressed($event, 'id')" />
          </th>
          <th scope="col">
            <div jhiSortBy="amount">
              <span jhiTranslate="autismApp.ceremony.amount">Amount</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="amountFilter" class="filter-width" (keydown)="onEnterPressed($event, 'amount')" />
          </th>
          <th scope="col">
            <div jhiSortBy="donationDate">
              <span jhiTranslate="autismApp.ceremony.givenDate">Given Date</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="receipt">
            <span jhiTranslate="autismApp.ceremony.receipt">Receipt</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col" jhiSortBy="ceremonyUser.id">
            <span jhiTranslate="autismApp.ceremony.ceremonyUser">Ceremony User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ceremony of ceremonies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ceremony', ceremony.id, 'view']">{{ ceremony.id }}</a>
          </td>
          <td>{{ ceremony.amount }}</td>
          <td>{{ ceremony.givenDate | jalali }}</td>
          <td>
            <a *ngIf="ceremony.receipt" (click)="openFile(ceremony.receipt, ceremony.receiptContentType)">
              <img
                [src]="'data:' + ceremony.receiptContentType + ';base64,' + ceremony.receipt"
                style="max-height: 30px"
                alt="ceremony image"
              />
            </a>
            <span *ngIf="ceremony.receipt">{{ ceremony.receiptContentType }}, {{ byteSize(ceremony.receipt) }}</span>
          </td>
          <td>
            <div *ngIf="ceremony.ceremonyUser">
              <a [routerLink]="['/ceremony-user', ceremony.ceremonyUser?.id, 'view']"
                >{{ ceremony.ceremonyUser?.name }} {{ ceremony.ceremonyUser?.family }}</a
              >
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ceremony', ceremony.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ceremony', ceremony.id, ceremony.ceremonyUser?.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ceremony)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ceremonies && ceremonies.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
