<div>
  <h2 id="page-heading" data-cy="GiverHeading">
    <span jhiTranslate="autismApp.giverAssigner.home.title">Givers</span>
  </h2>

  <!--  <jhi-alert-error></jhi-alert-error>-->

  <!--  <jhi-alert></jhi-alert>-->

  <!--<div class="alert alert-warning" id="no-result" *ngIf="givers?.length === 0">
    <span jhiTranslate="autismApp.giver.home.notFound">No givers found</span>
  </div>-->
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="autismApp.giverAssigner.supporters" for="field_supporters">Supporters</label>
        <select
          [(ngModel)]="selectedSupporter"
          (change)="onSupporterChange()"
          class="form-control"
          id="field_supporters"
          data-cy="province"
          name="province"
        >
          <option [ngValue]="null"></option>
          <!--          === editForm.get('province')!.value?.id ? editForm.get('province')!.value : provinceOption-->
          <option [ngValue]="supporter.id" *ngFor="let supporter of supporters">
            {{ supporter.firstName + ' ' + supporter.lastName }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="table-responsive" id="notAssigned">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr
              jhiSort
              [(predicate)]="notAssignedPredicate"
              [(ascending)]="notAssignedAscending"
              [callback]="loadNotAssignedPage.bind(this)"
            >
              <th scope="col">
                <div jhiSortBy="name">
                  <span jhiTranslate="autismApp.giver.name">Name</span>
                  <fa-icon icon="sort"></fa-icon>
                </div>
                <input type="text" [(ngModel)]="nameFilter" class="filter-width" (keydown)="onEnterPressed($event, 'name')" />
              </th>
              <th scope="col">
                <div jhiSortBy="family">
                  <span jhiTranslate="autismApp.giver.family">Family</span>
                  <fa-icon icon="sort"></fa-icon>
                </div>
                <input type="text" [(ngModel)]="familyFilter" class="filter-width" (keydown)="onEnterPressed($event, 'family')" />
              </th>
              <th scope="col">
                <div jhiSortBy="phoneNumber">
                  <span jhiTranslate="autismApp.giver.phoneNumber">Phone Number</span>
                  <fa-icon icon="sort"></fa-icon>
                </div>
                <input type="text" [(ngModel)]="phoneNumberFilter" class="filter-width" (keydown)="onEnterPressed($event, 'phoneNumber')" />
              </th>
              <th scope="col">
                <div>
                  <span jhiTranslate="autismApp.giverAssigner.supporterName">Supporter Name</span>
                  <!--                  <fa-icon icon="sort"></fa-icon>-->
                </div>
                <input type="text" [(ngModel)]="phoneNumberFilter" class="filter-width" (keydown)="onEnterPressed($event, 'phoneNumber')" />
              </th>
              <th scope="col">
                <div>
                  <span jhiTranslate="autismApp.giverAssigner.supporterFamily">Supporter Family</span>
                  <!--                  <fa-icon icon="sort"></fa-icon>-->
                </div>
                <input type="text" [(ngModel)]="phoneNumberFilter" class="filter-width" (keydown)="onEnterPressed($event, 'phoneNumber')" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let notAssigned of notAssignedGivers; trackBy: trackId"
              (click)="assign(notAssigned)"
              class="hover"
              data-cy="entityTable"
            >
              <td>{{ notAssigned.name }}</td>
              <td>{{ notAssigned.family }}</td>
              <td>{{ notAssigned?.phoneNumber }}</td>
              <td>{{ notAssigned?.supporter?.firstName }}</td>
              <td>{{ notAssigned?.supporter?.lastName }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="notAssignedGivers && notAssignedGivers.length > 0">
        <div class="row justify-content-center">
          <jhi-item-count [params]="{ page: notAssignedPage, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="notAssignedNgbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadNotAssignedPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="table-responsive" id="assigned">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="assignedPredicate" [(ascending)]="assignedAscending" [callback]="loadAssignedPage.bind(this)">
              <th scope="col">
                <div jhiSortBy="name">
                  <span jhiTranslate="autismApp.giver.name">Name</span>
                  <fa-icon icon="sort"></fa-icon>
                </div>
                <input type="text" [(ngModel)]="nameFilter" class="filter-width" (keydown)="onEnterPressed($event, 'name')" />
              </th>
              <th scope="col">
                <div jhiSortBy="family">
                  <span jhiTranslate="autismApp.giver.family">Family</span>
                  <fa-icon icon="sort"></fa-icon>
                </div>
                <input type="text" [(ngModel)]="familyFilter" class="filter-width" (keydown)="onEnterPressed($event, 'family')" />
              </th>
              <th scope="col">
                <div jhiSortBy="phoneNumber">
                  <span jhiTranslate="autismApp.giver.phoneNumber">Phone Number</span>
                  <fa-icon icon="sort"></fa-icon>
                </div>
                <input type="text" [(ngModel)]="phoneNumberFilter" class="filter-width" (keydown)="onEnterPressed($event, 'phoneNumber')" />
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assigned of assignedGivers; trackBy: trackId" (click)="unAssign(assigned)" class="hover" data-cy="entityTable">
              <td>{{ assigned.name }}</td>
              <td>{{ assigned.family }}</td>
              <td>{{ assigned.phoneNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="assignedGivers && assignedGivers.length > 0">
        <div class="row justify-content-center">
          <jhi-item-count [params]="{ page: assignedPage, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
          <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="assignedNgbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadAssignedPage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
