<div>
  <h2 id="page-heading" data-cy="CeremonyUserHeading">
    <span jhiTranslate="autismApp.ceremonyUser.home.title">Ceremony Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autismApp.ceremonyUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ceremony-user"
        [routerLink]="['/ceremony-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autismApp.ceremonyUser.home.createLabel"> Create a new Ceremony User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ceremonyUsers?.length === 0">
    <span jhiTranslate="autismApp.ceremonyUser.home.notFound">No ceremonyUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ceremonyUsers && ceremonyUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="autismApp.ceremonyUser.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="family">
            <span jhiTranslate="autismApp.ceremonyUser.family">Family</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="autismApp.ceremonyUser.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="homeNumber">
            <span jhiTranslate="autismApp.ceremonyUser.homeNumberForList">Home Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!--<th scope="col" jhiSortBy="address">
            <span jhiTranslate="autismApp.ceremonyUser.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ceremonyUser of ceremonyUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ceremony-user', ceremonyUser.id, 'view']">{{ ceremonyUser.id }}</a>
          </td>
          <td>{{ ceremonyUser.name }}</td>
          <td>{{ ceremonyUser.family }}</td>
          <td>{{ ceremonyUser.phoneNumber }}</td>
          <td>{{ ceremonyUser.homeNumber }}</td>
          <!--<td>{{ ceremonyUser.address }}</td>-->
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ceremony-user', ceremonyUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ceremony-user', ceremonyUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ceremonyUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ceremonyUsers && ceremonyUsers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
