<div>
  <h2 id="page-heading" data-cy="GiverHeading">
    <span jhiTranslate="autismApp.giver.home.title">Givers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="refreshPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="autismApp.giver.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-giver"
        [routerLink]="['/giver/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="autismApp.giver.home.createLabel"> Create a new Giver </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="givers?.length === 0">
    <span jhiTranslate="autismApp.giver.home.notFound">No givers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="givers && givers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col">
            <div jhiSortBy="id">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="idFilter" class="filter-width" (keydown)="onEnterPressed($event, 'id')" />
          </th>
          <th scope="col">
            <div jhiSortBy="name">
              <span jhiTranslate="autismApp.giver.name">Name</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="nameFilter" class="filter-width" (keydown)="onEnterPressed($event, 'name')" />
          </th>
          <th scope="col">
            <div jhiSortBy="family">
              <span jhiTranslate="autismApp.giver.family">Family</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="familyFilter" class="filter-width" (keydown)="onEnterPressed($event, 'family')" />
          </th>
          <th scope="col">
            <div jhiSortBy="phoneNumber">
              <span jhiTranslate="autismApp.giver.phoneNumber">Phone Number</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="phoneNumberFilter" class="filter-width" (keydown)="onEnterPressed($event, 'phoneNumber')" />
          </th>
          <th scope="col">
            <div jhiSortBy="homeNumber">
              <span jhiTranslate="autismApp.giver.homeNumberForList">Home Number</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="homeNumberFilter" class="filter-width" (keydown)="onEnterPressed($event, 'homeNumber')" />
          </th>
          <th scope="col">
            <div jhiSortBy="absorbDate">
              <span jhiTranslate="autismApp.giver.absorbDate">Absorb Date</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <!--            <input type="text" class="filter-width" (keydown)="onEnterPressed($event, 'absorbDate')" />-->
          </th>
          <th scope="col" jhiSortBy="">
            <div jhiSortBy="province.id">
              <span jhiTranslate="autismApp.giver.province">Province</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="provinceFilter" class="filter-width" (keydown)="onEnterPressed($event, 'provinceName')" />
          </th>
          <th scope="col">
            <div jhiSortBy="city.id">
              <span jhiTranslate="autismApp.giver.city">City</span>
              <fa-icon icon="sort"></fa-icon>
            </div>
            <input type="text" [(ngModel)]="cityFilter" class="filter-width" (keydown)="onEnterPressed($event, 'cityName')" />
          </th>
          <!--<th scope="col" jhiSortBy="absorbant.id">
        <span jhiTranslate="autismApp.giver.absorbant">Absorbant</span>
        <fa-icon icon="sort"></fa-icon>
      </th>
      -->
          <th scope="col" jhiSortBy="supporter.id">
            <span jhiTranslate="autismApp.giver.supporter">Supporter</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let giver of givers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/giver', giver.id, 'view']">{{ giver.id }}</a>
          </td>
          <td>{{ giver.name }}</td>
          <td>{{ giver.family }}</td>
          <td>{{ giver.phoneNumber }}</td>
          <td>{{ giver.homeNumber }}</td>
          <td>{{ giver.absorbDate | jalali }}</td>
          <td>
            <div *ngIf="giver.province">
              {{ giver.province?.name }}
            </div>
          </td>
          <td>
            <div *ngIf="giver.city">
              {{ giver.city?.name }}
            </div>
          </td>
          <!--<td>
        {{ giver.absorbant?.id }}
      </td>
      -->
          <td>{{ giver.supporter?.firstName }} {{ giver.supporter?.lastName }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/giver', giver.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/giver', giver.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/donation', giver.id, 'viewGiverDonate']"
                class="btn btn-danger btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <br />
                <span class="d-none d-md-inline" jhiTranslate="autismApp.giver.viewDonation">Edit</span>
              </button>

              <button
                type="submit"
                (click)="disable(giver)"
                [ngClass]="{ 'btn-success': giver.disabled, 'btn-danger': !giver.disabled }"
                class="btn btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon *ngIf="!giver.disabled" icon="times"></fa-icon>
                <fa-icon *ngIf="giver.disabled" icon="check"></fa-icon>
                <div *ngIf="giver.disabled; else enabled">
                  <span class="d-none d-md-inline" jhiTranslate="autismApp.giver.enable">Enable</span>
                </div>
                <ng-template #enabled>
                  <span class="d-none d-md-inline" jhiTranslate="autismApp.giver.disable">Disable</span>
                </ng-template>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="givers && givers.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
